html {

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 1fr;
}

.colLeft {
    background-image: url(./images/pexels-angelica-reyn-11183928.jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}


.odinBanner {
    margin-top: 30%;
    width: 100%;
    height: 200px;
    background-color: black;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odinBanner p {
    color: #fff;
    font-size: 88px;
}

.colRight {
    display: flex;
    flex-direction: column;
}

.header { 
    margin-top: 15%;
    margin-left: 5%;
}

.formContainer {
    margin-top: 5%;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 3px solid lightgray;
}

.formColumn {
    width: 350px;
    margin-left: 5%;
}

input {
    width: 300px;
}

.loginContainer {
    margin-left: 5%;
    margin-top: 5%;
}

input:active {
    color: blue;
}